<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--Path to check whether project is running locally or not.-->
    <add key="IsRunningLocally" value="false" />

    <!--Local path for to read xml files.-->
    <add key="BaseXmlFileFolderPath" value="D:\sites_tmsr\wwwroot\tsfx.old" />

    <!--Path to get the EventData folder where all other folders(Forms,images,etc)reside-->
    <add key="AppReadFolderPath" value="forms/Data/AppRead" />

    <!--Path to get Xml file for the Resources-->
    <add key="ResourceXMLFilePath" value="Resource/resource.xml" />

    <!-- Path to get Xml file for the Quiz-->
    <add key="QuizXMLFileFolderPath" value="Quiz" />

    <!--Path to store Resources and Quiz data.-->
    <add key="AppWriteWebReadFolderPath" value="forms/Data/AppWriteWebRead" />

    <!--Path to write InkScape files-->
    <add key="AppWriteWebWriteFolderPath" value="forms/Data/AppWriteWebWrite" />

    <!--Hidden code path to get Image & PDF for Link preview -->
    <add key="AppWriteWebReadResourceFolderPath" value="Resource" />


    <!--Path to get Audio video for Quiz. -->
    <add key="AppWriteWebReadResourceDataFolderPath" value="ResourceData" />

    <!--Path for the output folder.-->
    <!--<add key="LocalOutPutFolderPath" value="D:\Projects\TSFX Genform\Genform\Source"/>-->
    <add key="LocalOutPutFolderPath" value="D:\sites_tmsr\wwwroot\tsfx.old"/>

    <!--Path for the output folder on server.-->
    <add key="ServerOutPutFolderPath" value="D:\sites_tmsr\wwwroot\tsfx.old" />

    <!--Resource Link image name-->
    <add key="ResourceImageName" value="thumb_1_750x750.jpg" />

    <!--Length of the Hiddencode -->
    <add key="HiddenCodeLength" value="8" />

    <!--Path for InkscapePath Locally -->
    <add key="InkscapePathLocally" value="C:\Program Files (x86)\Inkscape" />

    <!--Path for InkscapePath on server -->
    <add key="InkscapePathServer" value="C:\Program Files\Inkscape" />

    <!--IIS path for forms folder-->
    <add key="PathForFormsFolder" value="http://tsfx.com.au/" />

    <!--Local path for to read xml files.-->
    <add key="BaseXmlFileFolderPath" value="D:\sites_tmsr\wwwroot\tsfx.old"/>

    <!--Quiz Question and Solution images path-->
    <add key="QuizQuestionAndSolutionImagesPath" value="Quiz/Images" />

    <!--Host path to download pdf file -->
    <add key="HostNameForDownloadFile" value="http://tsfx.com.au/genform3" />

    <!--ConnectionString for IP board-->
    <add key ="IPBoardConnectionString" value="server=tsfx.com.au;Database=ipscs;Port=3306;Uid=PromactPriyanka;Pwd=lou)Hamster50;Convert Zero Datetime=True;Allow User Variables=True"/>

  </appSettings>
  <system.web xdt:Transform="Replace">
    <identity impersonate="true" password="SMAEasda@#$asawslk567!" userName="tsfx_app_access" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.5.0" newVersion="6.9.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings xdt:Transform="Replace">
    <!--<add name="TSFXContext" connectionString="server=server08;Database=TsfxGenformDB;Uid=root;Pwd=password;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />-->
    <add name="TSFXContext" connectionString="server=tsfx.com.au;Database=genform;Port=3306;Uid=genuser;Pwd=fkeW18a9!2990-aMMajd3aq{;Convert Zero Datetime=True;Allow User Variables=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
