<div browser-back-button-for-other-pages>

    <section class="demo-container md-whiteframe-z1 ">

        <md-toolbar class="demo-toolbar md-default-theme background-green">

            <h2 class="md-toolbar-tools font-s">
                <span class="ng-binding" ng-bind="quizTitle"></span>
            </h2>

        </md-toolbar>
        <br />
        <md-content class="md-default-theme">
            <div layout="column">
                <div class="p-15 main-div">
                    <div class="content-section" ng-show="pageDetailsValue">
                        <h2 class="m-t0">
                            <b style="color:#004878 ">
                                Quiz Paused
                            </b>
                        </h2>
                        Your Quiz has been saved and the time paused.
                        <br /><br />
                        Time Allowed: <span> &nbsp; &nbsp; &nbsp; {{timeAllowed}} </span><br>
                        Time Taken:   <span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{timeTaken}} </span><br>
                        Time Remaining: <span>&nbsp;{{timeRemaining}} </span><br><br />
                        To continue your Quiz where you left off, select 'Resume Quiz'"<br /><br />
                    </div>
                    <div class="m-t60">
                        <hr />
                    </div>

                    <div ng-show="progressBarValue" class="linear-progressbar">
                        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                    </div>

                    <md-button class="md-raised md-primary md-button md-default-theme background-blue " ng-click="myQuizzes()"><span class=" ng-scope"> Quiz Manager </span></md-button>
                    <md-button class="md-raised md-primary md-button md-default-theme background-green pull-right" ng-click="resumeQuiz()"><span class=" ng-scope">{{beginQuizName}}</span></md-button>
                </div>
            </div>
        </md-content>
    </section>

</div>

